@page
@model Viagens.Pages.Index3Model
@{
}
<p>
    O Arquipélago de Fernando de Noronha mexe com o imaginário de muitos brasileiros. Um dos melhores destinos nacionais para os amantes do mar, Noronha tem fama de ser uma paraíso na Terra, e quer saber? É mesmo! Noronha tem algumas das melhores praias do Brasil, a água tem uma coloração incrível e a vida marinha… Ah, essa é tão rica que é quase impossível descrever. O mergulho com cilindro é considerado um dos melhores do mundo e, mesmo nas praias, você pode nadar entre pequenos tubarões e tartarugas.
</p>
<p>
    <p><h3>O que fazer em Fernando de Noronha</h3></p>
Com 21 ilhas e ilhotas e apenas 17 km² de extensão, há quem duvide que Fernando de Noronha mereça todos os elogios que se ouve, mas é tudo verdade. A beleza do lugar é inquestionável e quando se fala em natureza, preservação e biodiversidade, Fernando de Noronha está de parabéns.

Não será difícil decidir o que fazer em Fernando de Noronha. Tudo gira entorno do mar espetacular que cerca o lugar. Basta escolher o rumo do dia e seguir para momentos de puro deleite e beleza. Se a pedida for água cristalina e visual paradisíaco, vá à Praia do do Sancho ou à Baía dos Porcos. Para ficar perto do centrinho, a Praia da Conceição é a melhor opção, especialmente ao final da tarde, quando ela se torna o point de Noronha. Se a busca for por praticidade, recorra à Praia do Cachorro. Quem quer fugir do movimento vai gostar da Praia do Leão. Para quem curte mergulho e vida marinha, a dica é a Praia do Sueste ou a Praia do Porto. Se você é da turma do surfe, a Cacimba do Padre será excelente. E se você gosta mesmo é de uma boa caminhada, vale fazer as trilhas da Atalia.
