@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Confira aqui quais são os <strong>cinco</strong> melhores destinos nacionais</h1>
</div>
<img src="~/Image/roteiro.jpg" alt="Sample Photo" />
<div>
    <p>
    Eleger os melhores destinos nacionais não é uma tarefa simples, especialmente diante de tantos paraísos como os que temos por aqui. Seria injusto se fizéssemos essa escolha sozinhos. Sendo assim, diante de tamanha responsabilidade, quem assumiu essa tarefa foram os nosso leitores, que elegeram os melhores destinos nacionais no último Prêmio Melhores Destinos. E, podemos garantir, essa lista dos melhores destinos nacionais é mesmo sensacional!
    </p>
</div>

