@page
@model Viagens.Pages.Index2Model
@{
}
<p>
    Terceiro lugar entre os melhores destinos nacionais, o Jalapão reserva aos visitantes paisagens arrebatadoras em meio à imensidão de 34 mil quilômetros quadrados de área preservada no Tocantins, tudo permeado por veredas, chapadões e, diferente do que parece à primeira vista, muita água. Prepare-se para o intenso sol e tenha certeza de que sempre haverá um fervedouro ou um rio para aplacar o calor no meio do caminho.
</p>

    <p><h3>O que fazer no Jalapão</h3></p>
Alguns atrativos estão entre os mais procurados pelos viajantes e sempre estão presentes nos roteiros de quem percorre a região. As Dunas do Jalapão são o carro-chefe da região e destino obrigatório em todos os roteiros oferecidos pelas agências. O mesmo acontece com a Cachoeira do Formiga e a Cachoeira da Velha, as duas principais quedas d’água. E quem visita a Cachoeira da Velha obrigatoriamente dará um mergulho nas águas puríssimas da Prainha do Rio Novo. Há outra belas paradas para banho, como a Cachoeira do Rio Soninho, Cachoeira das Araras, Cachoeira da Roncadeira, Cachoeira do Escorrega Macaco e a Cachoeira do Lajeado. Sem falar no lindo cenário dos paredões do Cânion do Sussuapara, onde também há uma pequena queda d’água para banho.
<img src="~/Image/jalapao.jpg" />