@page
@model Viagens.Pages.Index4Model
@{
}
<p>
    Quer viajar barato? João Pessoa é o lugar! A capital foi a que teve melhor nota na categoria custo benefício entre os melhores destinos nacionais votados pelos leitores! João Pessoa mistura bem tranquilidade à beleza e quem viaja à cidade percebe seu ritmo desacelerado, que permite pequenos prazeres, como caminhar na areia e mergulhar no mar. A orla da cidade é um convite a relaxar! Isso tudo aliado à maravilhosa culinária – que mistura peixes e frutos do mar aos sabores do sertão – sem exagerar no preço. O paladar e o bolso agradecem!
</p>
<p>
    <p><h3>O que fazer em João Pessoa</h3></p>
Os dias em João Pessoa são quase sempre dedicados ao mar. A cidade é bem tranquila, tem uma linda orla e grande parte dos hotéis está próximo às praias. Ao visitar João Pessoa, vale conferir Tambaú, Cabo Branco e Bessa, ótimas praias que não podem deixar de ser visitadas e com lindo tom esverdeado no mar. Vale também conhecer as piscinas naturais de Picãozinho, na frente de Tambaú, e a Ilha de Areia Vermelha, um banco de areia que se forma na maré baixa. Se estiver com tempo e tiver o foco nas lindas praias do estado, visite também a Barra de Gramame, Praia de Tambaba, Coqueirinho e outras do Litoral Sul da Paraíba. O passeio é maravilhoso!

Ao entardecer, a tradição mais famosa da cidade é ir até a Praia do Jacaré para admirar o Bolero de Ravel tocado no sax de Jurandy – a cerimônia é tão famosa que se tornou patrimônio cultural e imaterial da Paraíba.

Fora da praia, confira o Farol do Cabo Branco, que simboliza o ponto mais oriental das Américas; a Estação Cabo Branco, que abriga movimentos educacionais e artísticos; e o centro histórico de João Pessoa, com o conjunto de casarões coloridos da Praça Antenor Navarro, o Hotel Globo e o Centro Cultural São Francisco, onde impera o estilo barroco. Veja mais dicas sobre o que fazer em João Pessoa, um dos melhores destinos nacionais para quem busca economizar!
