@page
@model Viagens.Pages.Index1Model



<p>
    Gramado ficou com medalha de prata na última edição do Prêmio Melhores Destinos. A cidade é um dos principais destinos de inverno no Brasil, mas oferece ótimos atrativos o ano todo, incluindo o famoso Natal Luz, que acontece no auge do verão. Engana-se quem pensa que por ser uma cidade pequena, não há muito o que fazer em Gramado. Na verdade, quem visita a região encontrará vários parques, museus, atrações e restaurantes que fazem de Gramado não só um recanto de sossego, mas um destino muito propício para famílias com crianças ou casais em busca de uma rota romântica.
    <h3>O que fazer em Gramado</h3>
Principal cidade da Serra Gaúcha, Gramado é, sem dúvidas, um dos melhores destinos nacionais. A cidade agrada a todos e sempre oferece novas opções de lazer. Isso faz com uma visita a Gramado nunca seja igual à outra! Se esta for a sua primeira vez em Gramado, comece pela Av. Borges de Medeiros, onde está a Paróquia São Pedro e a Rua Coberta, além de charmosos restaurantes. Bem pertinho, o  Lago Negro é ideal para fazer um passeio ao ar livre e belas fotos, especialmente quando as hortênsias estão floridas.

Ao longo dos dias de viagem, invista em visitas ao Mini Mundo, um parque ao ar livre onde estão réplicas 24 vezes menores do que as construções originais; o Le Jardin, um jardim de lavandas; e ao Snowland, um parque onde é possível brincar e praticar esportes na neve o ano todo! Vale ainda conferir o Dreamland Museu de Cera; os museus Mundo de Chocolate e o Reino do Chocolate, especialmente interessantes para os apaixonados pela iguaria; o Harley Motor Show, um bar com diversas motos Harley Davidson; e o Hollywood Dream Cars, um museu onde estão expostos carros antigos.
</p>


