@page
@model PrivacyModel
@{
    ViewData["Title"] = "Lençóis";
}

<p>
Lençóis, na Bahia, é a principal base para quem embarca rumo à Chapada Diamantina. E foram as inúmeras atrações naturais da região que levaram a cidade ao título de vencedora dos melhores destinos nacionais no Prêmio MD 2019. A cidade teve a melhor nota nas atrações e receptividade, além de grande destaque na gastronomia, ficando atrás somente de São Paulo. Sem contar que Lençóis foi muito bem avaliada pelos leitores no custo benefício e segurança. Enfim, um destino completo e que certamente merece a sua visita!
</p>
<p>
    <p><h3>O que fazer em Lençóis – Chapada Diamantina</h3></p>
Lençóis é apenas o ponto de partida para explorar toda a beleza da Chapada Diamantina, que inclui outros destinos como Mucugê, Vale do Capão e a encantadora Igatú. Sem dúvida um dos melhores destinos nacionais para quem ama viagens de aventura e, claro, natureza.

Percorrer a Chapada Diamantina é ter a oportunidade de ver (e sentir) de perto algumas das mais espetaculares cachoeiras do Brasil, entre elas a Cachoeira da Fumaça, a Cachoeira do Buracão e a Cachoeira do Sossego. E como elas quase sempre vêm acompanhadas de lindas trilhas, a Chapada Diamantina é ideal para desconectar da cidade e relaxar (sempre com um pouquinho de esforço, claro).

Alguns dias na Chapada Diamantina permitem ainda conhecer belezas naturais incríveis, como o Morro do Pai Inácio, o Poço Azul, a Pratinha e o Poço Encantado, além de grutas lindíssimas! Com um pouco mais de tempo, será possível ainda conhecer o Vale do Pati, um lugar mágico que faz parte do Parque Nacional da Chapada Diamantina, onde estão algumas das mais lindas trilhas do país. E se sobrar energia, a pedida serão as cachoeiras com acesso mais difícil e que exigem trilhas longas, como a Fumaça por Baixo, o Mixila ou a Fumacinha.


  
